.header-colon {
    background-color: #000000;
    color: blanchedalmond;
    font-size: small;
    padding: 5mm;
}
.PlayList-colon {
    background-color: #000000;
    color: blanchedalmond;
    font-size: 3mm;
    padding: 5mm;
}